<div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
          <h1 >Golden Chariot</h1>
          <img [src]="img1" alt="">
        <p class="card-text">A sojourn through well known & off beat destinations of South India in luxurious fashion. An adventure in comfort, a romance on rail tracks, with heritage & cultural destinations waiting for you to discover them. Very unique, customized itineraries have been developed that leave a resonance of the amalgam of culture of South India. Temples, palaces, relaxed beaches, a wildlife sanctuary, backwaters.. there is something for everyone.
            </p>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body text-center">
        <h1>The Palace on wheels</h1>
        <img [src]="img2" alt="">
        <p class="card-text">The Palace on Wheels is a replica os the saloon carriages of the Maharajas. The 13 Deluxe carriages are named after different palaces of Rajasthan. Each Deluxe coach has three cabins. The 7 nights and 8 days Delhi to Delhi package takes in Jaipur, udaipur, Jaisalmer and Agra.The train travels through the heart of Rajasthan covering monumental places. The spacious Deluxe Cabins come with attached bathrooms. The palace on wheels tariff depends on the occupancy level of cabins.</p>
      </div>
    </div>
    
    <div class="card ">
        
      <div class="card-body text-center">
        <h1>Maharaja Express</h1>
          <img [src]="img3" alt="">
        <p class="card-text">Maharajas' Express Train Tour India is unique and journey to be cherished forever. It recreates the Lifestyle of Royal Era. Maharajas' Express Train Tours India is of approximately of week s duration where one can see Treasures of India, Indian Splendor, and Heritage of India etc. Luxury Charter Tours India is provided to clients from across the globe. Also these tours are specially designed for our esteemed clients who look forward for value for money, comfort and luxury.</p>
      </div>
    </div>
  </div>