

<!-- Toolbar -->
<body>
  

<mat-toolbar color="warn" class="navbar">
  <div>
   
     RailYatri
    
  </div>
  <div>
    <span *ngIf="userService.loggedIn()"  routerLink="">Home</span>
    <span *ngIf="!userService.loggedIn()"   routerLink="/user/registration" routerLinkActivate="active">Register</span>
    <span  *ngIf="!userService.loggedIn()"  routerLink="/user/logIn" routerLinkActivate="active">Login</span>
    <span  style="cursor:pointer" *ngIf="userService.loggedIn()" routerLink="/" (click)="userService.loggedoutUser()">Logout</span>
    <span *ngIf="!userService.loggedIn()"   routerLink='/admin/login' routerLinkActivate="active">Admin</span>
    <!--<span style="cursor:pointer" *ngIf="userService.loggedIn()" (click)="userService.loggedoutUser()">Logout</span>-->
  </div>
</mat-toolbar>
<div class="container-router">

<router-outlet></router-outlet>

</div>

</body>


